@import '../../../styles/colors';
$navigation-drawer-mobile-width: 3 * 5.6rem !default;
$stats-font-size-factor: 0.9;
.mainContainer {
    flex: 1 1 auto;
    flex-direction: row;
}

.heading {
    position: absolute;
    top: 0;
    flex: 0;
    flex-direction: row;
}

.autoRow {
    overflow-y: auto;
    flex-direction: row;
}

.flexRightAuto {
    top: 164px;
    display: flex;
    margin-right: auto;
}

.flexRowNoWrap {
    display: flex;
    flex-flow: row nowrap;
}

.flexRowWrap {
    display: flex;
    flex-flow: row wrap;
}

.flexRowWrapLeft {
    display: flex;
    flex-flow: row wrap;
    margin-left: 1 rem;
    padding: 10px;
}

.filterBrandsButton {
    position: absolute;
    right: 0.5rem;
    margin-top: 2rem;
    opacity: 0.5;
    padding: 0;
    width: 15%;
}

.fontIconSelection {
    color: green;
    margin-bottom: auto;
    font-size: 1.6rem;
}

//list item stats mini buttons styling 
.mini {
    padding: 5px;
    margin: 0 auto;
}

//modelchips
.modelChips {
    margin: 3px;
     :hover {
        transition: all 0.5 ease;
        cursor: pointer;
    }
}

.tooltipActive {
    z-index: 11;
}

.brandItem {
     :hover {
        cursor: pointer;
        cursor: hand;
    }
}

@media screen and (min-width: 769px) {
    $stats-font-size-factor: 0.8;
    .statsFontScale {
        * {
            color: $base-color;
            font-size: 1.4rem;
            margin-right: auto;
            margin-bottom: auto;
        }
    }
    .brandstats {
        position: absolute;
        top: 2px;
        right: 2px;
    }
    .navigation {
        flex: 0 0 auto;
        position: relative; // max-width: 264px;
        //width: 355px;
        overflow-y: auto;
        navtitle {
            border: 0 none;
            padding-left: 5px;
            padding-top: 10px;
            flex-direction: column;
            flex: 1;
            height: auto;
        }
        .brands {
            flex-direction: column;
            flex: 6;
        }
    }
}

@media screen and (max-width: 449px) {
    $stats-font-size-factor: 0.5;
    .statsFontScale {
        font-size: 1.4rem * $stats-font-size-factor;
    }
    .drawerContent {
        width: 15rem !important;
    }
    .brandstats {
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 1.4rem * $stats-font-size-factor;
    }
    .navigation {
        flex: 0 0 auto;
        position: relative;
        overflow-y: auto;
        .navtitle {
            border: 0 none;
            padding-left: 5px;
            padding-top: 6rem;
            flex-direction: column;
            flex: 1;
        }
        .brands {
            flex-direction: column;
            flex: 6;
        }
    }
}

@media screen and (min-width: 450px) and (max-width: 768px) {
    $stats-font-size-factor: 0.6;
    .statsFontScale {
        font-size: 1.4rem * $stats-font-size-factor;
    }
    .drawerContent {
        width: 15rem !important;
    }
    .brandstats {
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 1.4rem * $stats-font-size-factor;
    }
    .navigation {
        flex: 0 0 auto;
        position: relative; //max-width: 15rem !important;
        //width: 15rem !important;
        overflow-y: auto;
        .navtitle {
            border: 0 none;
            padding-left: 5px;
            padding-top: 6rem;
            flex-direction: column;
            flex: 1;
        }
        .brands {
            flex-direction: column;
            flex: 6;
        }
    }
}

.modelstats {
    position: relative;
    right: 0;
    font-size: 1.4rem * $stats-font-size-factor;
}

.foot {
    display: block;
    color: $base-color;
    bottom: 0;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.7);
    right: 0; // width: calc(100% - 265px);
    link {
        abbr {
            text-transform: none;
        }
    }
}

.navDrawer {
    width: 265px;
}

.navigation.expanded {
    //left: 255px;
} //used for the NavDrawer pinned state to push content to the left
.content.expanded {
    //margin-left: 255px;
}

.content {
    display: flex;
    flex: 1 1 auto;
    overflow-y: auto;
    margin-top: 2.3rem;
    padding: 1.5rem;
    height: calc(100% - 100px);
    overflow-x: hidden;
    position: relative;
    justify-content: space-between;
}

.logo {
    width: 300px;
    margin-left: auto;
    margin-top: 4rem;
}

.snackbar {
    background-color: #2f42b8;
    .button {
        color: ivory;
        border-radius: 20%;
    }
}

.noDisplay {
    display: none;
}

.filterInputs {
    width: 80%;
    font-size: 1rem;
}

.field {
    margin: 5px;
    * {
        font-size: 1.1rem;
        font-weight: 350;
    }
}