@import '../../../styles/colors';
$navigation-drawer-mobile-width: 3 * 5.6rem !default;
$stats-font-size-factor: 0.9;
.mainContainer {
    flex: 1 1 auto;
    flex-direction: row;
}

.heading {
    position: absolute;
    top: 0;
    flex: 0;
    flex-direction: row;
}

//list item stats mini buttons styling 
.mini {
    padding: 5px;
    margin: 0 auto;
}

//modelchips
.modelChips {
    margin: 3px;
     :hover {
        transition: all 0.5 ease;
        cursor: pointer;
    }
}

.tooltipActive {
    z-index: 1000;
}

@media screen and (min-width: 769px) {
    $stats-font-size-factor: 0.8;
    .statsFontScale {
        font-size: 1.4rem * $stats-font-size-factor;
    }
    .brandstats {
        position: absolute;
        top: 5px;
        right: 5px;
    }
    .navigation {
        flex: 0 0 auto;
        position: relative;
        max-width: 32rem default;
        width: 32rem default;
        .navtitle {
            border: 0 none;
            padding-left: 5px;
            padding-top: 6rem;
            flex-direction: column;
            flex: 1;
            height: auto;
        }
        .brands {
            flex-direction: column;
            flex: 6;
        }
    }
    .Panes {
        flex: 1;
        flex-direction: 'row';
        overflow: auto;
        height: auto;
        padding: .5rem;
        margin-top: 3rem;
    }
}

@media screen and (max-width: 449px) {
    $stats-font-size-factor: 0.5;
    .statsFontScale {
        font-size: 1.4rem * $stats-font-size-factor;
    }
    .drawerContent {
        width: 15rem !important;
    }
    .brandstats {
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 1.4rem * $stats-font-size-factor;
    }
    .navigation {
        flex: 0 0 auto;
        position: relative;
        .navtitle {
            border: 0 none;
            padding-left: 5px;
            padding-top: 6rem;
            flex-direction: column;
            flex: 1;
        }
        .brands {
            flex-direction: column;
            flex: 6;
        }
    }
    .Panes {
        flex: 1;
        flex-direction: 'row';
        overflow: auto;
        height: auto;
        padding: .5rem;
        margin-top: 3rem;
    }
}

@media screen and (min-width: 450px) and (max-width: 768px) {
    $stats-font-size-factor: 0.6;
    .statsFontScale {
        font-size: 1.4rem * $stats-font-size-factor;
    }
    .drawerContent {
        width: 15rem !important;
    }
    .brandstats {
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 1.4rem * $stats-font-size-factor;
    }
    .navigation {
        flex: 0 0 auto;
        position: relative;
        //max-width: 15rem !important;
        //width: 15rem !important;
        .navtitle {
            border: 0 none;
            padding-left: 5px;
            padding-top: 6rem;
            flex-direction: column;
            flex: 1;
        }
        .brands {
            flex-direction: column;
            flex: 6;
        }
    }
    .Panes {
        flex: 1;
        flex-direction: 'row';
        overflow: auto;
        overflow-y: auto;
        height: auto;
        padding: .5rem;
        margin-top: 3rem;
    }
}

.modelstats {
    position: relative;
    right: 0;
    font-size: 1.4rem * $stats-font-size-factor;
}

.split {
    padding: 5px;
    border-top: 1px dashed black;
    flex-direction: row;
    >:nth-child(1) {
        resize: vertical;
    }
}

.foot {
    display: block;
    text-align: right;
    color: $base-color;
    bottom: 0;
    position: fixed;
    width: 90%;
    float: right;
    link {
        abbr {
            text-transform: none;
        }
    }
}

.content {
    flex: 1;
    overflow-y: auto;
    margin-top: 2.3rem;
    padding: 0.5rem;
    height: calc(100% - 100px);
    overflow-x: hidden;
    position: relative;
}

.logo {
    width: 300px;
    margin-left: auto;
    margin-top: 4rem;
}

.snackbar {
    background-color: #2f42b8;
    .button {
        color: ivory;
        border-radius: 20%;
    }
}

.noDisplay {
    display: none;
}

.filterInputs {
    width: 80%;
    font-size: 1rem;
}

.field {
    margin: 5px;
    * {
        font-size: 1.1rem;
        font-weight: 350;
    }
}

.Resizer {
    background: #000;
    opacity: .4;
    z-index: 2;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    height: 11px;
    margin: -5px 0;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 90%;
     :hover {
        -webkit-transition: all 2s ease;
        transition: all 2s ease;
        border-top: 5px solid rgba(0, 0, 0, 0.5);
        border-bottom: 5px solid rgba(0, 0, 0, 0.5);
    }
    .vertical {
        width: 11px;
        margin: 0 -5px;
        border-left: 5px solid rgba(255, 255, 255, 0);
        border-right: 5px solid rgba(255, 255, 255, 0);
        cursor: col-resize;
         :hover {
            border-left: 5px solid rgba(0, 0, 0, 0.5);
            border-right: 5px solid rgba(0, 0, 0, 0.5);
        }
    }
    .disabled {
        cursor: not-allowed;
         :hover {
            border-color: transparent;
        }
    }
}