 @import '../../styles/colors';
 .sharePanel {
     display: flex;
     flex-flow: row nowrap;
     margin-left: auto;
 }
 
 .sharePack {
     margin-right: auto;
     display: inline-block;
     margin-right: 10px;
     text-align: center;
 }
 
 .counter {
     margin-top: 2px;
     font-size: 10px;
 }