 @import '../../styles/colors';
 .avatarPanel {
     display: inline;
     right: 2px;
     padding: 5px;
     border: 1px solid $base-color;
     color: $base-color;
     position: absolute;
     top: 3px;
     max-width: 250px;
     margin-top: 35px;
 }
 
.admin {
    background-color: antiquewhite;
}

 .toggleButton {
     color: $base-color;
     * {
         color: $base-color;
     }
 }