@import '../../styles/colors';
.helpList {
    list-style: none;
    /* Remove list bullets */
    padding: 0;
    margin: 0;
    li {
        padding-left: 16px;
        &:before {
            content: "-";
            padding-right: 8px;
            color: $base-color;
        }
    }
}

.helpText {
    text-align: justify;
    overflow: auto;
}
