    @import '../../styles/colors';
    .activeRoute {
        font-weight: bold;
        text-decoration: underline;
    }
    
    .icon {
        color: white;
        background-color: antiquewhite;
    }
    
    .suggestions {
        background-color: $base-color;
        list-style: none;
        margin-top: 6rem;
        padding: 0;
        :hover {
            background-color: $base-color;
        }
        &:not(.up) {
            margin-top: 6rem;
        }
    }
    
    .searchInput {
        display: flex;
        color: white;
        * {
            color: ivory;
            font-size: 1.4rem;
        }
    }
    
    .logo {
        margin: auto;
        padding-top: 5px;
    }