.logincard{
    width: 350px;
    margin: 0 auto;
    border: none;
    box-shadow: 1px black;
    margin-top: 5rem;
}

.title {
    font-size: 1rem;
    color: #3953f2;
}

.msg {
    color: #3953f2;
}

.actions {
    margin: 0 auto;
}