@import '../../../styles/colors';
.dropzone {
    font-weight: bold;
}

.dropzone--green {
    composes: dropzone;
    color: rgb(25, 200, 25);
}

.dropzoneContainer {
    width: 200px;
    height: 200px;
    border-width: 2px;
    border-color: $base-color;
    border-style: dashed;
    border-radius: 5px;
}

.tableContainer {
    margin: auto;
    width: 50px;
    height: 50px;
    padding-left: -2px;
    border-width: 1px;
    border-color: $base-color;
    border-style: dashed;
    border-radius: 5px;
    cursor: pointer;
    * {
        margin: 5px;
        font-size: 1rem;
        line-height: 1.1rem;
        margin: auto;
    }
}