@import '../../../styles/colors';
.ampitemcard {
    width: 960px;
    margin: 0 auto;
    border: none;
    box-shadow: 1px black;
    margin-top: 5rem;
    overflow-y: hidden;
}

.title {
    font-size: 1rem;
    color: #3953f2;
}

.msg {
    color: #3953f2;
}

.actions {
    margin: 0 auto;
}

.container {
    margin: auto;
    overflow-x: hidden;
    height: 100%;
    margin-top: 64px;
}

.suggestions {
    display: inline;
    list-style: none;
    right: 0;
    padding: 0;
     :hover {
        background-color: $base-color;
    }
    &:not(.up) {
        margin-top: 1rem;
    }
    overflow: hidden;
}

.searchInput {
    display: flex;
    color: white;
    * {
        color: ivory;
        font-size: 1.3rem;
    }
     ::-webkit-scrollbar {
        display: none;
    }
}

.tableDisplayName {
    * {
        font-size: 1.3rem;
        min-width: 12em;
    }
}
// circular progress bar theme start
.circular {
    height: 25px;
    width: 25px;
    color: lightseagreen;
    * {
        color: lightseagreen;
    }
}

.saving {
    display: inline;
    animation: blinker 0.8s linear infinite;
    opacity: 1;
    content: 'Saving';
    font-size: 8px;
    color: lightseagreen;
}

@keyframes blinker {  
  50% { opacity: 0.3; }
}
// circular progress bar theme end
 .logo {
     margin-right: auto;
     margin-bottom: auto;
     margin-left: 10px;
     padding-top: 5px;
 }

  .activeRoute {
     font-weight: bold;
     text-decoration: underline;
 }
 
 .icon {
     color: white;
     background-color: antiquewhite;
 }
 
 .appBar{
     padding: 0;
 }